<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.min.css">
</head>
<body class="bg-blue-900 flex justify-center items-center h-screen">
    <div class="bg-white p-6 rounded-lg w-96">
        <h2 class="text-2xl font-bold mb-4 text-center">Register</h2>
        <form>
            <div class="mb-2">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2 underline">Username</label>
                
                <input type="text" id="username" name="username" class="border border-gray-300 p-2 w-full" placeholder="Your username">
            </div>
            <div class="mb-4">
                <label for="phone" class="block text-gray-700 text-sm font-bold mb-2 underline">Phone Number</label>
                <input type="phone" id="phone" name="phone" class="border border-gray-300 p-2 w-full" placeholder="Phone Number">
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2 underline">Password</label>
                <input type="password" id="password" name="password" class="border border-gray-300 p-2 w-full" placeholder="Your password">
            </div>
            <div class="mb-4">
                <label for="confirm_password" class="block text-gray-700 text-sm font-bold mb-2 underline">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" class="border border-gray-300 p-2 w-full" placeholder="Confirm password">
            </div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md w-full font-bold">Register</button>
        </form>
        <p class="mt-4 text-gray-600 text-sm text-center">Sudah Punya Akun? <a href="/auth/login" class="text-blue-500 font-bold">Register</a></p>

        
    </div>
</body>
</html>
